<div class="page">

  <mat-drawer-container>

<div class="painel-header">
  <p class="regular-font black headline-5">Painel de Ideias</p>
</div>
  <div class="pipeline-group-container" fxLayout="column">
    <div class="pipeline background-s-b no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Pendentes
          </h1>
        </div>
        <div>
          <h2 class="primary-subtitle body-2 black-200 regular-font">
            {{ countItemsToDo }} item
          </h2>
        </div>
      </div>
      <div *ngFor="let item of itemsToDo">
        <app-room-card
          name="{{item.name}}"
          email="{{item.email}}"
          createdAt="{{item.createdAt}}"
          details="{{item.details}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
      <mat-paginator
        [pageSize]="10"
        [length]="countItemsToDo"
        (page)="onPageChange($event, 0)"
        class="small-paginator regular-font"
      ></mat-paginator>
    </div>
    <div class="pipeline background-s-b1 no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Aceitas
          </h1>
        </div>
        <div>
          <h2 class="primary-subtitle body-2 black-200 regular-font">
            {{ countItemsPending }} item
          </h2>
        </div>
      </div>
      <div *ngFor="let item of itemsPending">
        <app-room-card
          name="{{item.name}}"
          email="{{item.email}}"
          createdAt="{{item.createdAt}}"
          details="{{item.details}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
      <mat-paginator
        [pageSize]="10"
        [length]="countItemsToDo"
        (page)="onPageChange($event, 0)"
        class="small-paginator regular-font"
      ></mat-paginator>
    </div>
    <div class="pipeline background-s-b2 no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Em execução
          </h1>
        </div>
        <div>
          <h2 class="primary-subtitle body-2 black-200 regular-font">
            {{ countItemsDoing }} item
          </h2>
        </div>
      </div>
      <div *ngFor="let item of itemsDoing">
        <app-room-card
          name="{{item.name}}"
          email="{{item.email}}"
          createdAt="{{item.createdAt}}"
          details="{{item.details}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
      <mat-paginator
        [pageSize]="10"
        [length]="countItemsToDo"
        (page)="onPageChange($event, 0)"
        class="small-paginator regular-font"
      ></mat-paginator>
    </div>
    <div class="pipeline background-success-100 no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Concluidas
          </h1>
        </div>
        <div>
          <h2 class="primary-subtitle body-2 black-200 regular-font">
            {{ countItemsApproved }} item
          </h2>
        </div>
      </div>
      <div *ngFor="let item of itemsApproved">
        <app-room-card
          name="{{item.name}}"
          email="{{item.email}}"
          createdAt="{{item.createdAt}}"
          details="{{item.details}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
      <mat-paginator
        [pageSize]="10"
        [length]="countItemsToDo"
        (page)="onPageChange($event, 0)"
        class="small-paginator regular-font"
      ></mat-paginator>
    </div>
  </div>
  </mat-drawer-container>
</div>
