/*FONTS*/
@font-face {
  font-family: "Flama Book";
  font-style: normal;
  src: url("../../../assets/fonts/Flama-Book.ttf") format("truetype");
}
.regular-font {
  font-family: "Flama Book";
}

/* FONT SIZE */
.headline-5 {
  font-size: 31.3px;
}
.title {
  font-size: 25px;
}
.subheading-2 {
  font-size: 20px;
}
.body-1 {
  font-size: 16px;
}
.body-2 {
  font-size: 12.8px;
}
.caption {
  font-size: 10.2px;
}

/* FONT WEIGHT */
.regular-weight {
  font-weight: 400;
}
.medium-weight {
  font-weight: 500;
}
.semibold-weight {
  font-weight: 600;
}

/*COLORS*/

/*FONT COLORS*/
.white {
  color: #ffffff;
}

.black {
  color: #2d2d2d;
}
.black-100 {
  color: #7b7b7b;
}
.black-200 {
  color: #616161;
}
.secondary-100 {
  color: #c0c8d5;
}
.secondary-400 {
  color: #2d3e65;
}
.s-b {
  color: #f4f5f7;
}
.success-100 {
  color: #e7f7e7;
}
.error-100 {
  color: #ffebee;
}
.error {
  color: #d32f2f;
}

/*ANGULAR COMPONENTS*/
:host ::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}
:host ::ng-deep .mat-paginator-container {
  justify-content: center !important;
  flex-direction: row-reverse;
}
/*Background-color*/
.background-s-b {
  background-color: #f5f5f5;
}
.background-s-b1 {
  background-color: #f5f5f5;
}
.background-s-b2 {
  background-color: #f5f5f5;
}
.background-s-b3 {
  background-color: rgb(173, 174, 175);
}
.background-success-100 {
  background-color: #e7f7e7;
}
.background-error-100 {
  background-color: #ffebee;
}

/* UTILS */
.padding-10-px {
  padding: 10px;
}
.show {
  display: block !important;
}
.no-show {
  display: none !important;
}
.no-border {
  border: none !important;
}
.no-margin {
  margin: 0px !important;
  flex: 1;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-bottom-12 {
  margin-bottom: 12px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-top-24 {
  margin-top: 24px;
}
.margin-right-4 {
  margin-right: 4px;
}
.margin-right-8 {
  margin-right: 8px;
}
.margin-right-25 {
  margin-left: 25px;
}
.margin-left-4 {
  margin-left: 4px;
}
.margin-left-25 {
  margin-left: 25px;
}
.width-30 {
  width: 30% !important;
}
.width-40 {
  width: 40% !important;
}
.width-50 {
  width: 50% !important;
}
.width-16-px {
  width: 16px !important;
}
.height-16-px {
  height: 16px !important;
}

/* GD-SPINNER */
:host ::ng-deep .la-ball-clip-rotate.la-2x[_ngcontent-c5] > div[_ngcontent-c5] {
  border-width: 8px !important;
}

/* GD-TAG */
.gd-tag {
  padding: 6px;
  border-radius: 999px;
}
/* END OF TEXTS */
.pipeline {
  min-width: 24%;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.pipeline-group-container {
  margin: 2% 0% 2% 0%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.header-card {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0% 2% 0%;
}

.checkbox {
  cursor: pointer;
}

@media (max-width: 767px) {
  .pipeline-group-container {
    flex-direction: column;
  }

  .pipeline {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1328px) {
  .pipeline-group-container {
    flex-direction: column;
  }

  .pipeline {
    margin: 0;
  }
}
.body-page {
  margin: auto;
}
.page {
  padding: 10px;
}
mat-drawer-container{
  background-color: white;
  padding: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
}
.painel-header{
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
}
.small-paginator {
  font-size: 14px;
}
