<div class="page">

  <mat-drawer-container>

<div class="painel-header">
  <p class="regular-font black headline-5">Painel de Ideias</p>
</div>
  <div class="pipeline-group-container" fxLayout="column">
    <div class="pipeline background-s-b no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Pendentes
          </h1>
        </div>
      </div>
      <div *ngFor="let item of itemsToDo">
        <app-room-card
          name="{{item.user_name}}"
          email="{{item.user_email}}"
          createdAt="{{item.created_at}}"
          details="{{item.gain}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
    </div>
    <div class="pipeline background-s-b1 no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Aceitas
          </h1>
        </div>
      </div>
      <div *ngFor="let item of itemsDoing">
        <app-room-card
          name="{{item.user_name}}"
          email="{{item.user_email}}"
          createdAt="{{item.created_at}}"
          details="{{item.gain}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
    </div>
    <div class="pipeline background-s-b2 no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Em execução
          </h1>
        </div>
        <div>
        </div>
      </div>
      <div *ngFor="let item of itemsApproved">
        <app-room-card
          name="{{item.user_name}}"
          email="{{item.user_email}}"
          createdAt="{{item.created_at}}"
          details="{{item.gain}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
    </div>
    <div class="pipeline background-s-b  no-margin">
      <div class="header-card">
        <div>
          <h1 class="primary-subtitle body-1 black regular-font">
            Concluidas
          </h1>
        </div>
      </div>
      <div *ngFor="let item of itemsDone">
        <app-room-card
          name="{{item.user_name}}"
          email="{{item.user_email}}"
          createdAt="{{item.created_at}}"
          details="{{item.gain}}"
          [tags]="item.details"
        ></app-room-card>
      </div>
    </div>
  </div>
  </mat-drawer-container>
</div>
