<div style="display: flex; justify-content: center; align-items: center">
  <img src="../../../assets/icons/idea-form/idea.svg" alt="" />
</div>

<div class="typewriter">
  <h1 class="title">Tire sua idéia do papel</h1>
</div>

<form
  *ngIf="!isLoading"
  style="margin: 12px 16px; font-size: 18px"
  novalidate
  [formGroup]="formGroup"
>
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Nome</mat-label>
    <input
      placeholder="Digite seu nome"
      class="regular-font"
      matInput
      type="textarea"
      formControlName="name"
      required
      style="width: 100%"
    />
    <mat-error *ngIf="formErrors.name" style="color: red; font-size: 12px">
      {{ formErrors.name }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Email</mat-label>
    <input
      placeholder="Digite seu email"
      class="regular-font"
      matInput
      type="textarea"
      formControlName="email"
      required
      style="width: 100%"
    />
    <mat-error *ngIf="formErrors.email" style="color: red; font-size: 12px">
      {{ formErrors.email }}</mat-error
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Selecione o tema</mat-label>
    <mat-select formControlName="challenge">
      <mat-option value="Acesso ao mercado">Acesso ao mercado</mat-option>
      <mat-option value="Carbono">Carbono</mat-option>
      <mat-option value="Indústria 4.0">Indústria 4.0</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Solução</mat-label>
    <textarea
      placeholder="Descreva sua ideia"
      class="regular-font"
      matInput
      type="textarea"
      formControlName="solution"
      required
      style="width: 100%"
    ></textarea>
    <mat-error *ngIf="formErrors.solution" style="color: red; font-size: 12px">
      {{ formErrors.solution }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Justificativa</mat-label>
    <textarea
      placeholder="Qual o ganho que sua ideia trará para a empresa?"
      class="regular-font"
      matInput
      type="textarea"
      formControlName="gain"
      required
      style="width: 100%"
    ></textarea>
    <mat-error *ngIf="formErrors.gain" style="color: red; font-size: 12px">
      {{ formErrors.gain }}</mat-error
    >
  </mat-form-field>

  <div class="footer">
    <div class="btn-primary">
      <span type="button"> Enviar </span>
    </div>
  </div>
</form>
