@use '@angular/material' as mat;

$font-path: '../fonts';

$colors: (
  primary1: #EE3138,
  primary2: #4D4D4F,
  white: #FFFFFF
  secondary1: #A32322,
  secondary2: #ED6C54,
  secondary3: #F2A88F,
  secondary4: #848689,
  secondary5: #AFB1B4,
  secondary6: #FFA400,
  secondary7: #DCD8CB,
  secondary8: #0C4E84,
  secondary9: #F5802B,
  secondary1: #F5802B,
);
