<div class="increase-height large-font">
  <mat-accordion class="large-font">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="large-font">Buscar</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="increase-height">
        <button
          class="button body-font-strong"
          (click)="goToManagerPage()"
        >
          Gerenciar Ideias
        </button>
      </div>
      <div class="increase-height">
        <button class="button body-font-strong" (click)="goToIdeaPage()">
          Usuário
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
