<nav>
  <ul>
    <li><a routerLink="/idea">Cadastro</a></li>
    <li><a routerLink="/manager">Gerenciar</a></li>
    <li><a routerLink="/dash">Dashboard</a></li>
    <li><a href="https://www.figma.com/proto/cv0ZWgDw6hQZzeilvQfGF0/Untitled?type=design&node-id=1-2&t=IuTrdXtlCGz945l1-1&scaling=scale-down&page-id=0%3A1&mode=design">Loja</a></li>
  </ul>
</nav>
<div class="principal">
  <div class="container">
    <iframe title="Dash Hacka" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=0262aae2-f8c2-4bdd-abc0-8d519fc05120&autoAuth=true&ctid=bf5da4f7-7760-4708-863f-bc77b9eca985" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
